{% extends "base.html" %}
{% load static %}
{% block title %}
Конфигуратор
{% endblock %}
{% block script %}
<script type="text/javascript">
    var ar_rooms = [];
    var ar_systems = [];
    var ar_systems_icon = [];
    var ar_levels = [];
    var ar_floors = [];
    named = 1
    {% for it in rooms %}
        var newLength = ar_rooms.push("{{ it.name }}");
    {% endfor %}
    {% for it in systems %}
        var newLength = ar_systems.push("{{ it.name }}")
        var newLength2 = ar_systems_icon.push("{{ it.icon }}")
    {% endfor %}
    {% for it in levels %}
        var newLength = ar_levels.push("{{ it.name }}")
    {% endfor %}
    {% for it in floors %}
        var newLength = ar_floors.push("{{ it.name }}")
    {% endfor %}

    function start(){
        gen_checkbox();

    }

    function addField(ar, mod){
        dive1 = document.createElement('div');
        dive1.id = mod + named;
        dive1.className = 'row';
        dive2 = document.createElement('div');
        dive2.className="col-9";
        dive3 = document.createElement('div');
        dive3.className="col";
        dive3.id = "col" + named;
        dive3.innerHTML = "<a onclick=\"return deleteField(this)\" href=\"#\"><i class=\"fa fa-trash fa-2x\" aria-hidden=\"true\"></i></a>"
        list = document.createElement('select');
        item = document.createElement('option');
        var dive = document.getElementById('div_' + mod);
        list.name = mod;
        list.id = mod + named;
        list.className = 'form-select';

        named++;
        for (var i = 0; i < ar.length; i++) {
            item.text = ar[i];
            item.value = ar[i];
            list.appendChild(item.cloneNode(true));
        }

        dive2.appendChild(list);
        dive1.appendChild(dive2);
        dive1.appendChild(dive3);
        dive.appendChild(dive1);

    }

    function addFloor(ar, mod){
        selectedFriends.length = 0;
        dive1 = document.createElement('div');
        dive1.id = mod + named;
        dive1.className = 'row';
        dive2 = document.createElement('div');
        dive2.className="col-9";
        dive3 = document.createElement('div');
        dive3.className="col";
        dive3.id = "col" + named;
        dive3.innerHTML = "<a onclick=\"return deleteField(this)\" href=\"#\"><i class=\"fa fa-trash fa-2x\" aria-hidden=\"true\"></i></a>"
        list = document.createElement('select');
        item = document.createElement('option');
        var dive = document.getElementById('div_' + mod);
        list.name = mod;
        list.id = mod + named;
        list.className = 'form-select';
        dive4 = document.createElement('textarea');
        dive4.className= "form-control";
        dive4.name = "text" + named;
        dive4.id = "text" + named;

        named++;
        for (var i = 0; i < ar.length; i++) {
            item.text = ar[i];
            item.value = ar[i];
            list.appendChild(item.cloneNode(true));
        }
        dive2.appendChild(list);
        dive2.appendChild(dive4);
        dive1.appendChild(dive2);
        dive1.appendChild(dive3);
        dive.appendChild(dive1);
        dive.appendChild(document.createElement('br'));

    }

    function myFunction() {
        search_name = 'text' + (named-1);
        var messageForm = document.getElementById(search_name);
        var id = this.textContent;
        selectedFriends.push(id);
        messageForm.value = (selectedFriends.join(', '));
    }

    function deleteField(a) {
        // Получаем доступ к ДИВу, содержащему поле
        var contDiv = a.parentNode.parentNode
        // Удаляем этот ДИВ из DOM-дерева
        contDiv.parentNode.removeChild(contDiv);
        // Возвращаем false, чтобы не было перехода по сслыке
        return false;
    }

    function gen_checkbox() {
        var dive = document.getElementById('div_levels');
        for (var i = 0; i < ar_levels.length; i++) {
            dive5 = document.createElement('div');
            dive5.id = 'check' + i;
            dive5.className = "form-check";
            dive5.innerHTML = "<input class=\"form-check-input\" name=\"level\" type=\"checkbox\" value=\"" + ar_levels[i] + "\" id=\"defaultCheck" + i +"\"><label class=\"form-check-label\" for=\"defaultCheck" + i + "\">" + ar_levels[i] + "</label>";
            dive.appendChild(dive5);
        }
    }

    function gen_rooms() {
        var dive = document.getElementById('hr');
        for (var i = 0; i < ar_rooms.length; i++) {
            dive2 = document.createElement('li');
            dive2.className = "room-selector"
            dive2.textContent = ar_rooms[i]
            dive.appendChild(dive2);
        }
    }

    function gen_systems() {
        var dive = document.getElementById('radio-form');
        for (var i = 0; i < ar_systems.length; i++) {
            dive2 = document.createElement('label');
            dive2.className = "radio-control";
            dive2.innerHTML = "<input type=\"checkbox\" name=\"system\" value=\"" + ar_systems[i] + "\" /><div class=\"radio-input\"><i class=\"" + ar_systems_icon[i] + "\"></i><span>" + ar_systems[i] + "</span></div>";
            dive.appendChild(dive2);
        }
    }

</script>
{% endblock %}
{% block content %}
<body >
<div align="center">
    <img src="static/img/logo_horizonta.svg">
</div>
<div id="finish">
    <p>Коммерческое предложение <b>"{{ file }}"</b> успешно сформировано. Вы можете скачать его по ссылке ниже, либо вернуться <a href="javascript:history.go(-1)"> на предыдущую страницу </a> </p>
<div align="center">
<a href="/media/{{ file }}">
    <i class="fas fa-file-download fa-10x"></i>
    </a></div></div>
</body>
{% endblock %}